<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<%- include partials/welcome.ejs %>

<div class="container-fluid bg-1 text center">
<h3>Who am I?</h3>
<img src="public\Assets\images\photo_of_me.jpg" class="img-circle" alt="Photo of Ikamjot Hundal">
</div>
<div class="container-fluid bg-2 text center">
<p>I am currently a student at Centennial College for "Game Programming."</p>
</div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>