<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<body>
<div class>
    <img class="banner" src="Assets/images/home_page_banner.jpg" width="75%"  alt="Banner">
</div>
<!--Mission Statement-->
<div>
    <P></P>
    <h4 class="orange">Misson Statement</h4>
    <%- include partials/start_border.ejs %>
      <p class="center">To continue learning and refining the skills to try contributing myself in everything. </p>
    <%- include partials/end_border.ejs %> 
</div>
</body>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
