<!--
Filename: home.ejs
Name: Ikamjot Singh Hundal
StudentID: 301134374
Date: September 30th, 2021
-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--Banner-->
<body>
<div class>
    <img class="banner" src="Assets/images/home_page_banner.jpg" width="65%"  alt="Banner">
</div>


<div>
  <!--Welcome Statement-->
  <h2 class="orange">Welcome!</h2>
  <%- include partials/start_border.ejs %>
    <p class="center">Welcome to my Express Portfolio where you can find information about me and my projects!</p>
  <%- include partials/end_border.ejs %> 
</div>

<div>
   <!--Mission Statement-->
    <h2 class="orange">Misson Statement</h2>
    <%- include partials/start_border.ejs %>
      <p class="center">To continue learning, refining, and contributing the skills in the workforces.</p>
    <%- include partials/end_border.ejs %> 
</div>


<!--Links to other pages-->
<h4 class="orange">Links to other Pages</h4>
<div class="center">
  <a class="btn btn-dark btn-sm" href="/about">About Me</a>
  <a class="btn btn-dark btn-sm" href="/projects">My Projects</a>
  <a class="btn btn-dark btn-sm" href="/services">Services</a>
  <a class="btn btn-dark btn-sm" href="/contact">Contact Me</a>
</div>
</body>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
