<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
<%- include partials/welcome.ejs %>

<body>
    <div class="container-fluid bg-1">
        <h3 class="text-center">List of Current and Previous Projects</h3>
    </div>

    <div class="container-fluid bg-2">
        <h3 class="text-center">My Current Projects</h3>
        </div>
        <div class="card mb-3" style="max-width: 100%">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="..." class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Zelda-Clone</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
</body>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>