<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<h4 class="orange">What do I Specialize in?</h4>
<%- include partials/start_border.ejs %>
<div class="center">
    <p>The programming languages I specialize in are Java, HTML, CSS, JavaScript/Node.js, C#. </p>
    <img src="/Assets/images/java_logo.png" width="70"></img>
    <img src="/Assets/images/html_logo.png" width="70"></img>
    <img src="/Assets/images/css_logo.png" width="70"></img>
    <img src="/Assets/images/nodejs_logo.png" width="70"></img>
    <img src="/Assets/images/csharp_logo.png" width="70"></img>
</div>
</div>

<h4 class="orange">What do I Offers?</h4>
<%- include partials/start_border.ejs %>
<div class="center">
    <p>General Programming</p>
    <p>Implements game functionalities on Unity: Game Engine</p>
    <p>Develop webpages</p>
</div>
</div>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>