<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<h4 class="orange">What do I Specialize in?</h4>
<%- include partials/start_border.ejs %>

<p class="center">The programming languages I specialize in are Java, HTML, CSS, JavaScript, C#. </p>

<!--<div class="container-fluid bg-2">
    <p class="text-center">I offers:</p>
    <p class="text-center">General Programming</p>
    <p class="text-center">Implements game functionalities on Unity: Game Engine</p>
    <p class="text-center">Develop webpages</p>
    </div>
</body>-->
</div>

<h4 class="orange">What do I Offers?</h4>
<%- include partials/start_border.ejs %>
<div class="center">
    <p>General Programming</p>
    <p>Implements game functionalities on Unity: Game Engine</p>
    <p>Develop webpages</p>
</div>
</div>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>