<!--
Filename: services.ejs
Name: Ikamjot Singh Hundal
StudentID: 301134374
Date: September 30th, 2021
-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--Specialize-->
<h2 class="orange">What do I Specialize in?</h2>
<%- include partials/start_border.ejs %>
<div class="center">
    <p>The programming languages I specialize in are Java, HTML, CSS, JavaScript/Node.js, C#. </p>
    <img src="/Assets/images/java_logo.png" width="70"></img>
    <img src="/Assets/images/html_logo.png" width="70"></img>
    <img src="/Assets/images/css_logo.png" width="70"></img>
    <img src="/Assets/images/nodejs_logo.png" width="70"></img>
    <img src="/Assets/images/csharp_logo.png" width="70"></img>
</div>
<%- include partials/end_border.ejs %> 

<!--Offers-->
<h2 class="orange">What do I Offers?</h2>
<%- include partials/start_border.ejs %>
<div class="center">
    <p>General Programming</p>
    <p>Implements game functionalities on Unity: Game Engine</p>
    <p>Develop webpages</p>
</div>



<%- include partials/end_border.ejs %> 


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>