<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!--
Filename: add.ejs
Name: Ikamjot Singh Hundal
StudentID: 301134374
Date: October 16th, 2021
-->

<div class="container">
    <div class="row">
        <div class="center">
        <h1 class="orange"><%= title %></h1>
        <div class="border">
            <br>
            <form class="form" method="post">
            <!--Contact Name-->
                <div class="form group">
                    <label for="nameTextField">Contact Name: </label>
                    
                    <input type="text" class="form control"
                    id="nameTextField"
                    placeholder="Enter Contact Name"
                    name="contact_name" required>
                </div>

                <!--Contact Number-->
                <div class="form group">
                    <label for="contactNumberTextField">Contact Number: </label>
                    <input type="text" class="form control"
                    id="numberTextField"
                    placeholder="Enter Contact Number "
                    name="contact_number" required>
                </div>

                <!--Contact Email-->
                <div class="form group">
                    <label for="contactEmailTextField">Contact Email: </label>
                    <input type="text" class="form control"
                    id="publishedTextField"
                    placeholder="Enter Contact Email"
                    name="contact_email" required>
                </div>
                <br>
                <!--Buttons-->
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>

                    <a href="/business_contacts-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>
            
        </form>
    </div>
        </div>

    </div>
</div>


<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %> 